table {
    font-family: Tahoma, "Trebuchet MS", Helvetica, sans-serif;
    border: 1px solid #FFFFFF;
    text-align: left;
    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
}

table tbody td {
    font-size: 13px;
}

table tr:nth-child(even) {
    background: #D0E4F5;
}

table th {
    background: #0B6FA4;
    border-bottom: 5px solid #FFFFFF;
}

table th {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
}